@media  (max-width:700px) {

    *{
         
        margin: auto;
        
        
        
        
     
        
    }



    body{

        height: auto;


    }
    

    /*contenedor header*/


    nav.windows{ 


        
        display: flex;
        position: fixed;
        left: 20px;
        background: rgb(110, 26, 26);
        float: right;
        box-shadow: 5px 5px 5px ;
        z-index:1000;;
        right: 0;
        flex-direction: column;
        width: 200px;
        height: 400px;
        margin-top: 50px;
        

    }





    .container__nav{
        display: none;
       


    }


    .btn{


        display: block;
        cursor: pointer;
    
    
    
    }
    
    
  


    


    .card-central{


         display:  grid;
         margin: auto;
         position: relative;
         left: auto ;



    }


    
    
    
    


    

    /*footer*/


    .footer{
  
        display: block;
        margin: auto;
        height: 350px;
        background: red;
        
    }


    .f1{

       display: grid;
      text-align: center;
      


        
    }

    .f2{

        display: grid;
       text-align: center;
        margin-top: 9em ;




    }




    .f3{


        display: grid;
        text-align: center;
        margin-top: -9em;
        color: white;


    }
    

    






} 