@media  screen and (max-width:605px) {

    *{
        margin: auto;
        
     
        
    }
    

    /*contenedor header*/


    nav.active{ 


        
        display: inline-flex;
        position: fixed;
        left: 20px;
        background: rgb(110, 26, 26);
        float: right;
        box-shadow: 5px 5px 5px ;
        z-index:1000;;
        right: 0;
        flex-direction: column;
        width: 200px;
        height: 300px;
        margin-top: 50px;
        transition: 1.2s solid all;

        opacity: 2s;

    }





    .container__nav{
        display: none;
       


    }


    .btn{


        display: block;
        cursor: pointer;
    
    
    
    }
    
    
  


    


    .card-central{


        display:  grid;
        position: relative;
       margin: auto;
       right: 2em;



    }


    *redes*/

    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
       
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;
    }
    .float:hover {
        text-decoration: none;
        color: #25d366;
      background-color:#fff;
    }
    
    .my-float{
        margin-top:16px;
    }
    
    
    


    

    /*footer*/
    .footer{

        display: block;
        height: 400px ;
        
        text-align: center;


    }


    .s1{

        display: block;
        position: relative;
        top: -100px;
        left: 50px;
        text-align: center;


    }

    .s2{

        position: relative;
        top: 40px;
        right:220px  ;
        margin-left:100px ;
       
        text-align: center;


    }
  
    .s3{

        position: relative;
        top: 150px;
        right: 350px;
        margin: auto;
        text-align: center;





    }




}