*{
    margin: auto;
    padding: auto;
    
    
 
    
}






body{
   
    display: block;
    max-height: 120vh;
}



.btn{

    display: none;

}





ul{

    display: inline-flex;
    position: relative;
    
    padding: 13px;
    align-items: center;
    transition: all 0.1s;
    
    
}




.ao{
    color:whitesmoke;
    align-items: none;
    text-decoration: none;





}


/* card */

.card-central {

    display: flex;
    flex-wrap: wrap;
    margin: 60px;
    position: relative;
    left: 60px;



}




.card-1{

    display: block;
    position: relative;
    height: 600px;
    width: 250px;
    left: 50px;
    margin: 20px;
   
    
    text-align: center;
    transition: all 0.25s;
    




}

.card-1:hover{
  transform: translate(-5px);
  box-shadow: 0 12px 16px rgba(0,0,0, 0.2);

}


img{

    width: 250px;
    height: 230px;



}


video{

    width: 250px;
    height: 230px;
    
    display: flex;


}

ol{

    text-align: center;
    margin: 5px;
    margin-top: 10px;
    position: relative;
    right: 1.5em;





}



/*redes*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:80;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}








/*footer*/

.footer{
  
    display: block;
    margin: auto;
    height: 250px;
    background:red;
    list-style: none;
}


.f1{

   
   position: relative;
   top: 60px;
   margin: 60px;


}

.f2{ 

   text-align: right;
    position: relative;
    top:  -95px;
   margin: 70px; 
    
}


.li{
     color: white;
     margin: 15px;
}


a{


    color: white;
   padding: 4px;
    text-decoration: none;
    



}


.f3{


     color: white;
   text-align: center ;

   margin-top: -80px;
}

  









h4{
    color: white;
}


ul{
    color: white;
}

.ae{
    color: white;
    align-items: none;
    text-decoration: none;
}




